body {
    background-color: powderblue;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

label {
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    padding-left: 750px;
}

.centerSubmit{
    text-align: center;
    background-color: azure;
}

.centerPlayStart{
    text-align: center;
    background-color: azure;
}

.rpsls {
    display: none;
}
