body {
    background-color: powderblue;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

label {
    color: purple;
    padding-left: 100px;
}

input {
    color: red;
    padding-left: 100px;
}

p {

}

.rpsls {
    display: none;
}
